In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,accuracy_score

In [3]:
dataset = pd.read_csv('car.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'])
dataset.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [4]:
dataset['class'],class_names=pd.factorize(dataset['class'])
print(dataset['class'])
print(class_names)

0       0
1       0
2       0
3       0
4       0
       ..
1723    3
1724    2
1725    0
1726    3
1727    2
Name: class, Length: 1728, dtype: int64
Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')

In [5]:
dataset['buying'],_ = pd.factorize(dataset['buying'])
dataset['maint'],_ = pd.factorize(dataset['maint'])
dataset['doors'],_= pd.factorize(dataset['doors'])
dataset['persons'],_=pd.factorize(dataset['persons'])
dataset['lug_boot'],_=pd.factorize(dataset['lug_boot'])
dataset['safety'],_=pd.factorize(dataset['safety'])
dataset.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [6]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,6]
print(x)
print(y)

      buying  maint  doors  persons  lug_boot  safety
0          0      0      0        0         0       0
1          0      0      0        0         0       1
2          0      0      0        0         0       2
3          0      0      0        0         1       0
4          0      0      0        0         1       1
...      ...    ...    ...      ...       ...     ...
1723       3      3      3        2         1       1
1724       3      3      3        2         1       2
1725       3      3      3        2         2       0
1726       3      3      3        2         2       1
1727       3      3      3        2         2       2

[1728 rows x 6 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1723    3
1724    2
1725    0
1726    3
1727    2
Name: class, Length: 1728, dtype: int64

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)
dtree = DecisionTreeClassifier(criterion='entropy',max_depth =3,random_state=0)
dtree.fit(x_train,y_train)
y_pred = dtree.predict(x_test)

# print(classification_report(y_test,y_pred))
print("Accuracy:",accuracy_score(y_test,y_pred))

Accuracy: 0.815028901734104